:root {
  --primaryColor: #5cb85c;
  --secondaryColor: #d9edda;
  --textColor: #a3a3a3;
  --greyColor: #f4f4f4;
  --whiteColor: #f5f4fa;
  --blackColor: #434344;
}
  
  .auction .secContainer .secHeading {
    justify-content: space-between;
    padding: 1rem 0;
  }
  .auction .secContainer .secHeading .navBtns {
    gap: 0.5rem;
  }
  .auction .secContainer .secHeading .navBtns .icon {
    padding: 3px 5px;
    background: var(--secondaryColor);
    border-radius: 3px;
    font-size: 30px;
    cursor: pointer;
  }
  .auction .secContainer .secHeading .navBtns .icon:hover {
    background: var(--primaryColor);
    color: var(--whiteColor);
  }
  .auction .secContainer .carContainer {
    gap: 2rem;
  }
  .auction .secContainer .carContainer .singleCar {
    transition: 0.3s ease-in-out;
    text-align: left;
    padding: 1rem;
    border-radius: 10px;
  }
  .auction .secContainer .carContainer .singleCar .imgDiv {
    position: relative;
    height: 200px;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
  }
  
  .auction .secContainer .carContainer .singleCar .imgDiv img {
    height: 100%;
    width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    transition: filter 0.3s ease-in-out;
  }
  
  .auction .secContainer .carContainer .singleCar .imgDiv:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .auction .secContainer .carContainer .singleCar .imgDiv:hover:before {
    opacity: 1;
  }
  
  .auction .secContainer .carContainer .singleCar .editIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .auction .secContainer .carContainer .singleCar .imgDiv:hover .editIcon {
    cursor: pointer;
    opacity: 1;
  }
  
  .auction .secContainer .carContainer .singleCar .carTitle {
    color: var(--blackColor);
    font-size: 15px;
    padding-top: 10px;
  }
  .auction .secContainer .carContainer .singleCar .miles {
    color: var(--blackColor);
    opacity: 0.7;
    font-size: 14px;
  }
  .auction .secContainer .carContainer .singleCar .AWD {
    padding: 1rem 0;
    color: var(--blackColor);
    font-weight: 600;
    font-size: 15px;
  }
  .auction .secContainer .carContainer .singleCar .price_buyBtn {
    gap: 1rem;
  }
  .auction .secContainer .carContainer .singleCar .price_buyBtn span {
    padding: 0.5rem 1rem;
    border-radius: 3px;
    font-weight: 600;
  }
  .auction .secContainer .carContainer .singleCar .price_buyBtn .price {
    background: var(--secondaryColor);
    color: var(--primaryColor);
  }
  .auction .secContainer .carContainer .singleCar .price_buyBtn .buyBtn {
    background: var(--primaryColor);
    color: var(--whiteColor);
    cursor: pointer;
  }
  .auction .secContainer .carContainer .singleCar .price_buyBtn .buyBtn:hover {
    background: var(--secondaryColor);
    color: var(--textColor);
  }
  .auction .secContainer .carContainer .singleCar:hover {
    transform: translateY(-7px);
    padding: 1rem;
    background: var(--secondaryColor);
  }
  .auction .secContainer .carContainer .singleCar:hover .price_buyBtn span {
    border: 1px solid var(--primaryColor);
  }
  .auction .secContainer .carContainer .singleCarActive {
    padding: 1rem;
    background: var(--secondaryColor);
  }
  .auction .secContainer .carContainer .singleCarActive .price_buyBtn span {
    border: 1px solid var(--primaryColor);
  }
  
  .error-message {
    color: red;
    margin-bottom: 10px;
  }

  .editIcon-title {
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
  }

  .editIcon-location {
    margin-left: 10px;
    cursor: pointer;
  }

  .editIcon-modelo-marca {
    margin-left: 10px;
    cursor: pointer;
  }

  .price {
    cursor: pointer;
  }

  .deleteIcon {
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
  }
  
  .deleteIcon-svg {
    width: 20px;
    height: 20px;
    color: red;
  }
  
  
  @media screen and (min-width: 520px) {
    .auction .secContainer .secHeading {
      margin-top: 1rem;
    }
    .auction .secContainer .secHeading .secTitle {
      font-size: 23px;
    }
    .auction .secContainer .secHeading .navBtns {
      gap: 0.5rem;
    }
    .auction .secContainer .secHeading .navBtns .icon {
      font-size: 40px;
    }
    .auction .secContainer .carContainer {
      grid-template-columns: repeat(2, 1fr);
    }
    .auction .secContainer .carContainer .singleCar .carTitle {
      font-size: 18px;
    }
    .auction .secContainer .carContainer .singleCar .miles, .auction .secContainer .carContainer .singleCar .AWD {
      font-size: 16px;
    }
    .auction .secContainer .carContainer .singleCar .price_buyBtn {
      font-weight: 600;
    }
  }
  @media screen and (min-width: 940px) {
    .auction .secContainer .secHeading .secTitle {
      font-size: 28px;
    }
    .auction .secContainer .secHeading .navBtns {
      gap: 1rem;
    }
    .auction .secContainer .carContainer {
      grid-template-columns: repeat(3, 1fr);
    }
  }